.main-aboutme {
  display: grid;
  margin-top: 50px;
}

.main-aboutme h1 {
  font-size: 50px;
  text-align: center;
}

.pic-aboutme-section {
  display: grid;
  justify-content: end;
  margin: -25px 25px 0px 0px;
}

.pic-aboutme {
  width: 200px;
  border-radius: 49%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  margin: 25px 0px 0px 165px;
}

.aboutme-section {
  display: grid;
  justify-content: center;
}

.aboutme-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 24px;
  box-sizing: content-box;
  border-radius: 5%;
  padding: 30px;
  background-color: white;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-with-border {
  border-right: 1px solid #707070;
  padding-right: 10px;
}

.signature {
  font-family: synthemesc, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4656a3;
  font-size: 25px;
  grid-area: 2/2;
  margin: 5px;
}
