nav {
  display: flex;
  justify-content: space-around;
}

.navItem {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4656a3;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 30px;
}

.navItem:hover {
  color: #d6d7ea;
}
.navLogo {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.logo {
  width: 150px;
  margin-top: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-icon {
  width: 40px;
  filter: invert(32%) sepia(19%) saturate(2524%) hue-rotate(198deg) brightness(93%) contrast(84%);
  margin: 10px;
}

.footer-icon:hover {
  filter: invert(92%) sepia(3%) saturate(1220%) hue-rotate(200deg) brightness(95%) contrast(93%);
}

.footer-icongroup {
  align-self: center;
}

.copyright {
  color: #707070;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 200;
  font-style: normal;
  align-self: center;
}
