@import url(header-footer.css);
@import url(homepage.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  background-color: #fbf4ef;
}

main {
  display: grid;
  grid-template-areas:
    "main"
    "main";
}

h1 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4656a3;
  text-transform: uppercase;
}
