@import url(header-footer.css);
@import url(hamburgermenu.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  background-color: #fbf4ef;
}
