@media only screen and (max-width: 1000px) {
  .logo {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .footer-icon {
    width: 30px;
  }

  .copyright {
    font-size: 12px;
  }
}
